<!DOCTYPE html>
<html>
  <%- include("./partials/head"); %>
  <body>
    <%- include("./partials/header"); %>
    <main>
        <h1> <%= title %> </h1>

        <div class="testPost">
          <h2><%= post.title %></h2>
          <p><%= post.author.full_name %></p>
          <p><%= post.timestamp %></p>
          <p><%= post.body %></p>
        </div>

        <form action="" method="POST">
          <label for="commentBody">Comment</label>
          <textarea 
            name="commentBody" 
            type="text" 
            maxlength="500" 
            rows="10" 
            placeholder="Max 500 characters" 
            required>
          </textarea>
          <button>Submit</button>
        </form>

        <% if (comments) { %>
          <ul>
            <% comments.forEach((comment) => { %>
              <li class="testPost">
                <p><%= comment.reader.full_name %></p>
                <p><%= comment.timestamp %></p>
                <p><%= comment.body %></p>
              </li>
            <% }) %> 
          </ul>
        <% } %>
    </main>
    <%- include("./partials/footer"); %>
  </body>
</html>
